development:
  adapter: postgresql
  encoding: unicode
  database: dif_development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: dif_test
  pool: 5
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: dif_production
  pool: 5
  username: dif
  password:
